<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <!-- optional styling to this site -->
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    </head>
    <body>
        <div>
          <h1>You type it, we post it!</h1>
          <p>Exciting! Amazing!</p>
          
          <p class="links">
            <a href="{@host}/messages">Get started</a>
            <a href="{@host}/about">About this site</a>
            <!--<a href="{@host}/login">Login via Example.net</a>-->
          </p>
        </div>
    </body>
    <!-- optional enhancement -->
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{@host}/script.js"></script>
</html>
